@use 'utils';
@use 'variables';

body {
    margin: 0;
}

h1 {
    font-family: "Montserrat", sans-serif;
}

h2 {
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

p {
    font-family: "Montserrat", sans-serif;
}

span {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

