// Spacing
$spacing-0: 0 !default;
$spacing-1: 4px !default;
$spacing-2: 8px !default;
$spacing-3: 12px !default;
$spacing-4: 16px !default;
$spacing-5: 20px !default;
$spacing-6: 24px !default;
$spacing-7: 28px !default;
$spacing-8: 32px !default;
$spacing-9: 36px !default;
$spacing-10: 40px !default;
$spacing-11: 48px !default;
$spacing-12: 56px !default;
$spacing-13: 64px !default;

// font
$font-main: "Montserrat", sans-serif !default;

// width
$width-0: 0 !default;
$width-1: 60px !default;
$width-2: 120px !default;
$width-3: 180px !default;
$width-4: 240px !default;
$width-5: 300px !default;
$width-6: 360px !default;
$width-7: 420px !default;
$width-8: 480px !default;
$width-9: 540px !default;
$width-10: 600px !default;

// width
$height-0: 12px !default;
$height-1: 20px !default;
$height-2: 28px !default;
$height-3: 36px !default;
$height-4: 44px !default;
$height-5: 52px !default;
$height-6: 60px !default;
$height-7: 68px !default;
$height-8: 76px !default;
$height-9: 84px !default;
$height-10: 92px !default;

// font size
$font-small: 14px !default;
$font-medium: 18px !default;
$font-large: 24px !default;
$font-xlarge: 32px !default;
$font-xxlarge: 48px !default;
$font-xxxlarge: 64px !default;

//color
$color-main: black; 
$color-rating: rgb(255, 191, 0);
$color-url-btn: rgb(0, 140, 255);
